body {
  margin: 0px;
  padding: 0px;
}

.heading {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  background-color: rgb(2, 1, 15);
  color: wheat;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}

.choice {
  height: 190px;
  width: 190px;
}

.choice:hover {
  opacity: 0.8;
  cursor: pointer;
}

img {
  height: 185px;
  width: 185px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  margin-top: 3rem;
  gap: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

#user-score,
#comp-score {
  font-size: 2rem;
}

.mess-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.mess-box:hover {
  cursor: pointer;
}

#mess {
  padding: 5px;
  background-color: rgb(2, 1, 15);
  color: wheat;
  font-size: 2rem;
  display: inline;
  border-radius: 5px;
}

.reset {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(2, 1, 15);
  color: wheat;
  font-size: 2rem;
  border-radius: 5px;
  padding: 5px;
}
